In [3]:
import numpy as np
import pandas as pd

Load the dataset

In [4]:
file01 = 'ReactionTypes.csv'
ReactType = pd.read_csv(file01)

Display Basic Info

In [5]:
print(ReactType.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  16 non-null     int64
 1   Type        16 non-null     object
 2   Sentiment   16 non-null     object
 3   Score       16 non-null     int64
dtypes: int64(2), object(2)
memory usage: 644.0+ bytes
None

Remove missing values

In [10]:
print(ReactType.isnull().sum()) #no null values

Unnamed: 0    0
Type          0
Sentiment     0
Score         0
dtype: int64

Display dataset

In [6]:
print(ReactType)

    Unnamed: 0         Type Sentiment  Score
0            0        heart  positive     60
1            1         want  positive     70
2            2      disgust  negative      0
3            3         hate  negative      5
4            4   interested  positive     30
5            5  indifferent   neutral     20
6            6         love  positive     65
7            7   super love  positive     75
8            8      cherish  positive     70
9            9        adore  positive     72
10          10         like  positive     50
11          11      dislike  negative     10
12          12    intrigued  positive     45
13          13      peeking   neutral     35
14          14       scared  negative     15
15          15      worried  negative     12

Remove unnamed column

In [7]:
ReactType = ReactType.iloc[:, ~ReactType.columns.str.contains('^Unnamed')]

In [8]:
print(ReactType)

           Type Sentiment  Score
0         heart  positive     60
1          want  positive     70
2       disgust  negative      0
3          hate  negative      5
4    interested  positive     30
5   indifferent   neutral     20
6          love  positive     65
7    super love  positive     75
8       cherish  positive     70
9         adore  positive     72
10         like  positive     50
11      dislike  negative     10
12    intrigued  positive     45
13      peeking   neutral     35
14       scared  negative     15
15      worried  negative     12

Rename field

In [9]:
ReactType = ReactType.rename(columns={'Type': 'Reaction Type'})

In [10]:
print(ReactType)

   Reaction Type Sentiment  Score
0          heart  positive     60
1           want  positive     70
2        disgust  negative      0
3           hate  negative      5
4     interested  positive     30
5    indifferent   neutral     20
6           love  positive     65
7     super love  positive     75
8        cherish  positive     70
9          adore  positive     72
10          like  positive     50
11       dislike  negative     10
12     intrigued  positive     45
13       peeking   neutral     35
14        scared  negative     15
15       worried  negative     12

Load the dataset

In [11]:
file02 = 'Reactions.csv'
React = pd.read_csv(file02)

Display Basic Info

In [12]:
print(React.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25553 entries, 0 to 25552
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  25553 non-null  int64
 1   Content ID  25553 non-null  object
 2   User ID     22534 non-null  object
 3   Type        24573 non-null  object
 4   Datetime    25553 non-null  object
dtypes: int64(1), object(4)
memory usage: 998.3+ KB
None

Remove missing values

In [13]:
print(React.isnull().sum()) # User ID has 3019 missing values and Type field has 980 missing values.

Unnamed: 0       0
Content ID       0
User ID       3019
Type           980
Datetime         0
dtype: int64

In [14]:
React= React.dropna()
print(React.info())

<class 'pandas.core.frame.DataFrame'>
Index: 22534 entries, 1 to 25552
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  22534 non-null  int64
 1   Content ID  22534 non-null  object
 2   User ID     22534 non-null  object
 3   Type        22534 non-null  object
 4   Datetime    22534 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.0+ MB
None

Drop unnamed column

In [19]:
React = React.drop(columns=[ 'User ID'])

In [20]:
print(React.head())

                             Content ID        Type             Datetime
1  97522e57-d9ab-4bd6-97bf-c24d952602d2     disgust  2020-11-07 09:43:50
2  97522e57-d9ab-4bd6-97bf-c24d952602d2     dislike  2021-06-17 12:22:51
3  97522e57-d9ab-4bd6-97bf-c24d952602d2      scared  2021-04-18 05:13:58
4  97522e57-d9ab-4bd6-97bf-c24d952602d2     disgust  2021-01-06 19:13:01
5  97522e57-d9ab-4bd6-97bf-c24d952602d2  interested  2020-08-23 12:25:58

In [21]:
print(React.info())

<class 'pandas.core.frame.DataFrame'>
Index: 22534 entries, 1 to 25552
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  22534 non-null  object
 1   Type        22534 non-null  object
 2   Datetime    22534 non-null  object
dtypes: object(3)
memory usage: 704.2+ KB
None

In [22]:
React = React.rename(columns={'Type':'Reaction Type'})

In [23]:
print(React)

                                 Content ID Reaction Type             Datetime
1      97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust  2020-11-07 09:43:50
2      97522e57-d9ab-4bd6-97bf-c24d952602d2       dislike  2021-06-17 12:22:51
3      97522e57-d9ab-4bd6-97bf-c24d952602d2        scared  2021-04-18 05:13:58
4      97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust  2021-01-06 19:13:01
5      97522e57-d9ab-4bd6-97bf-c24d952602d2    interested  2020-08-23 12:25:58
...                                     ...           ...                  ...
25547  75d6b589-7fae-4a6d-b0d0-752845150e56       worried  2020-10-31 04:50:14
25548  75d6b589-7fae-4a6d-b0d0-752845150e56       dislike  2020-06-27 09:46:48
25549  75d6b589-7fae-4a6d-b0d0-752845150e56     intrigued  2021-02-16 17:17:02
25551  75d6b589-7fae-4a6d-b0d0-752845150e56       worried  2020-11-04 20:08:31
25552  75d6b589-7fae-4a6d-b0d0-752845150e56       cherish  2021-01-04 04:55:11

[22534 rows x 3 columns]

Drop Column

In [53]:
React = React.drop(columns=['User ID'])

In [54]:
print(React)

                                 Content ID Reaction Type             Datetime
1      97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust  2020-11-07 09:43:50
2      97522e57-d9ab-4bd6-97bf-c24d952602d2       dislike  2021-06-17 12:22:51
3      97522e57-d9ab-4bd6-97bf-c24d952602d2        scared  2021-04-18 05:13:58
4      97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust  2021-01-06 19:13:01
5      97522e57-d9ab-4bd6-97bf-c24d952602d2    interested  2020-08-23 12:25:58
...                                     ...           ...                  ...
25547  75d6b589-7fae-4a6d-b0d0-752845150e56       worried  2020-10-31 04:50:14
25548  75d6b589-7fae-4a6d-b0d0-752845150e56       dislike  2020-06-27 09:46:48
25549  75d6b589-7fae-4a6d-b0d0-752845150e56     intrigued  2021-02-16 17:17:02
25551  75d6b589-7fae-4a6d-b0d0-752845150e56       worried  2020-11-04 20:08:31
25552  75d6b589-7fae-4a6d-b0d0-752845150e56       cherish  2021-01-04 04:55:11

[22534 rows x 3 columns]

In [56]:
React = React.drop(columns=['Datetime'])

In [57]:
print(React)

                                 Content ID Reaction Type
1      97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust
2      97522e57-d9ab-4bd6-97bf-c24d952602d2       dislike
3      97522e57-d9ab-4bd6-97bf-c24d952602d2        scared
4      97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust
5      97522e57-d9ab-4bd6-97bf-c24d952602d2    interested
...                                     ...           ...
25547  75d6b589-7fae-4a6d-b0d0-752845150e56       worried
25548  75d6b589-7fae-4a6d-b0d0-752845150e56       dislike
25549  75d6b589-7fae-4a6d-b0d0-752845150e56     intrigued
25551  75d6b589-7fae-4a6d-b0d0-752845150e56       worried
25552  75d6b589-7fae-4a6d-b0d0-752845150e56       cherish

[22534 rows x 2 columns]

Load the dataset

In [24]:
file03 = 'Content.csv'
Content = pd.read_csv(file03)

Display Basic Info

In [25]:
print(Content.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   Content ID  1000 non-null   object
 2   User ID     1000 non-null   object
 3   Type        1000 non-null   object
 4   Category    1000 non-null   object
 5   URL         801 non-null    object
dtypes: int64(1), object(5)
memory usage: 47.0+ KB
None

Drop unnecessary columns

In [26]:
Content = Content.drop(columns=['User ID', 'URL', 'Unnamed: 0'])

In [27]:
print(Content.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  1000 non-null   object
 1   Type        1000 non-null   object
 2   Category    1000 non-null   object
dtypes: object(3)
memory usage: 23.6+ KB
None

Check null values

In [28]:
print(Content.isnull().sum()) #no null values

Content ID    0
Type          0
Category      0
dtype: int64

In [29]:
print(Content)

                               Content ID   Type         Category
0    97522e57-d9ab-4bd6-97bf-c24d952602d2  photo         Studying
1    9f737e0a-3cdd-4d29-9d24-753f4e3be810  photo   healthy eating
2    230c4e4d-70c3-461d-b42c-ec09396efb3f  photo   healthy eating
3    356fff80-da4d-4785-9f43-bc1261031dc6  photo       technology
4    01ab84dd-6364-4236-abbb-3f237db77180  video             food
..                                    ...    ...              ...
995  b4cef9ef-627b-41d7-a051-5961b0204ebb  video  public speaking
996  7a79f4e4-3b7d-44dc-bdef-bc990740252c    GIF       technology
997  435007a5-6261-4d8b-b0a4-55fdc189754b  audio         veganism
998  4e4c9690-c013-4ee7-9e66-943d8cbd27b7    GIF          culture
999  75d6b589-7fae-4a6d-b0d0-752845150e56  audio       technology

[1000 rows x 3 columns]

In [30]:
Content = Content.rename(columns = {'Type': 'Content Type'})

In [31]:
print(Content)

                               Content ID Content Type         Category
0    97522e57-d9ab-4bd6-97bf-c24d952602d2        photo         Studying
1    9f737e0a-3cdd-4d29-9d24-753f4e3be810        photo   healthy eating
2    230c4e4d-70c3-461d-b42c-ec09396efb3f        photo   healthy eating
3    356fff80-da4d-4785-9f43-bc1261031dc6        photo       technology
4    01ab84dd-6364-4236-abbb-3f237db77180        video             food
..                                    ...          ...              ...
995  b4cef9ef-627b-41d7-a051-5961b0204ebb        video  public speaking
996  7a79f4e4-3b7d-44dc-bdef-bc990740252c          GIF       technology
997  435007a5-6261-4d8b-b0a4-55fdc189754b        audio         veganism
998  4e4c9690-c013-4ee7-9e66-943d8cbd27b7          GIF          culture
999  75d6b589-7fae-4a6d-b0d0-752845150e56        audio       technology

[1000 rows x 3 columns]

In [32]:
print(React)

                                 Content ID Reaction Type             Datetime
1      97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust  2020-11-07 09:43:50
2      97522e57-d9ab-4bd6-97bf-c24d952602d2       dislike  2021-06-17 12:22:51
3      97522e57-d9ab-4bd6-97bf-c24d952602d2        scared  2021-04-18 05:13:58
4      97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust  2021-01-06 19:13:01
5      97522e57-d9ab-4bd6-97bf-c24d952602d2    interested  2020-08-23 12:25:58
...                                     ...           ...                  ...
25547  75d6b589-7fae-4a6d-b0d0-752845150e56       worried  2020-10-31 04:50:14
25548  75d6b589-7fae-4a6d-b0d0-752845150e56       dislike  2020-06-27 09:46:48
25549  75d6b589-7fae-4a6d-b0d0-752845150e56     intrigued  2021-02-16 17:17:02
25551  75d6b589-7fae-4a6d-b0d0-752845150e56       worried  2020-11-04 20:08:31
25552  75d6b589-7fae-4a6d-b0d0-752845150e56       cherish  2021-01-04 04:55:11

[22534 rows x 3 columns]

In [33]:
print(ReactType)

   Reaction Type Sentiment  Score
0          heart  positive     60
1           want  positive     70
2        disgust  negative      0
3           hate  negative      5
4     interested  positive     30
5    indifferent   neutral     20
6           love  positive     65
7     super love  positive     75
8        cherish  positive     70
9          adore  positive     72
10          like  positive     50
11       dislike  negative     10
12     intrigued  positive     45
13       peeking   neutral     35
14        scared  negative     15
15       worried  negative     12

In [34]:
print(Content)

                               Content ID Content Type         Category
0    97522e57-d9ab-4bd6-97bf-c24d952602d2        photo         Studying
1    9f737e0a-3cdd-4d29-9d24-753f4e3be810        photo   healthy eating
2    230c4e4d-70c3-461d-b42c-ec09396efb3f        photo   healthy eating
3    356fff80-da4d-4785-9f43-bc1261031dc6        photo       technology
4    01ab84dd-6364-4236-abbb-3f237db77180        video             food
..                                    ...          ...              ...
995  b4cef9ef-627b-41d7-a051-5961b0204ebb        video  public speaking
996  7a79f4e4-3b7d-44dc-bdef-bc990740252c          GIF       technology
997  435007a5-6261-4d8b-b0a4-55fdc189754b        audio         veganism
998  4e4c9690-c013-4ee7-9e66-943d8cbd27b7          GIF          culture
999  75d6b589-7fae-4a6d-b0d0-752845150e56        audio       technology

[1000 rows x 3 columns]

In [35]:
print(ReactType)

   Reaction Type Sentiment  Score
0          heart  positive     60
1           want  positive     70
2        disgust  negative      0
3           hate  negative      5
4     interested  positive     30
5    indifferent   neutral     20
6           love  positive     65
7     super love  positive     75
8        cherish  positive     70
9          adore  positive     72
10          like  positive     50
11       dislike  negative     10
12     intrigued  positive     45
13       peeking   neutral     35
14        scared  negative     15
15       worried  negative     12

In [37]:
merged_React_Content = pd.merge(React,Content, on= 'Content ID', how='outer')

In [49]:
print(merged_React_Content.head(30))

                              Content ID Reaction Type             Datetime  \
0   97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust  2020-11-07 09:43:50
1   97522e57-d9ab-4bd6-97bf-c24d952602d2       dislike  2021-06-17 12:22:51
2   97522e57-d9ab-4bd6-97bf-c24d952602d2        scared  2021-04-18 05:13:58
3   97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust  2021-01-06 19:13:01
4   97522e57-d9ab-4bd6-97bf-c24d952602d2    interested  2020-08-23 12:25:58
5   97522e57-d9ab-4bd6-97bf-c24d952602d2       peeking  2020-12-07 06:27:54
6   97522e57-d9ab-4bd6-97bf-c24d952602d2       cherish  2021-04-11 17:35:49
7   97522e57-d9ab-4bd6-97bf-c24d952602d2          hate  2021-01-27 08:32:09
8   97522e57-d9ab-4bd6-97bf-c24d952602d2       peeking  2021-04-01 22:54:23
9   97522e57-d9ab-4bd6-97bf-c24d952602d2   indifferent  2020-11-07 08:36:27
10  97522e57-d9ab-4bd6-97bf-c24d952602d2        scared  2020-11-02 06:28:53
11  97522e57-d9ab-4bd6-97bf-c24d952602d2    interested  2020-11-01 01:16:21
12  97522e57-d9ab-4bd6-97bf-c24d952602d2          hate  2020-10-07 18:39:08
13  97522e57-d9ab-4bd6-97bf-c24d952602d2        scared  2020-09-03 18:51:38
14  97522e57-d9ab-4bd6-97bf-c24d952602d2    super love  2021-02-24 05:09:23
15  97522e57-d9ab-4bd6-97bf-c24d952602d2       peeking  2020-09-23 06:24:11
16  97522e57-d9ab-4bd6-97bf-c24d952602d2   indifferent  2021-02-24 11:37:57
17  97522e57-d9ab-4bd6-97bf-c24d952602d2    interested  2021-05-22 19:44:23
18  97522e57-d9ab-4bd6-97bf-c24d952602d2       peeking  2020-11-20 17:26:23
19  97522e57-d9ab-4bd6-97bf-c24d952602d2       worried  2021-04-11 20:47:13
20  97522e57-d9ab-4bd6-97bf-c24d952602d2          like  2021-06-13 16:46:06
21  97522e57-d9ab-4bd6-97bf-c24d952602d2         heart  2021-04-11 14:29:59
22  97522e57-d9ab-4bd6-97bf-c24d952602d2       worried  2021-03-02 19:21:19
23  97522e57-d9ab-4bd6-97bf-c24d952602d2          hate  2020-06-27 18:44:39
24  97522e57-d9ab-4bd6-97bf-c24d952602d2          hate  2021-05-09 21:05:17
25  97522e57-d9ab-4bd6-97bf-c24d952602d2       cherish  2020-08-04 23:58:42
26  97522e57-d9ab-4bd6-97bf-c24d952602d2    super love  2020-08-28 03:57:20
27  97522e57-d9ab-4bd6-97bf-c24d952602d2        scared  2021-04-20 23:48:12
28  97522e57-d9ab-4bd6-97bf-c24d952602d2    interested  2021-03-07 12:40:11
29  97522e57-d9ab-4bd6-97bf-c24d952602d2   indifferent  2021-05-24 03:21:13

   Content Type  Category
0         photo  Studying
1         photo  Studying
2         photo  Studying
3         photo  Studying
4         photo  Studying
5         photo  Studying
6         photo  Studying
7         photo  Studying
8         photo  Studying
9         photo  Studying
10        photo  Studying
11        photo  Studying
12        photo  Studying
13        photo  Studying
14        photo  Studying
15        photo  Studying
16        photo  Studying
17        photo  Studying
18        photo  Studying
19        photo  Studying
20        photo  Studying
21        photo  Studying
22        photo  Studying
23        photo  Studying
24        photo  Studying
25        photo  Studying
26        photo  Studying
27        photo  Studying
28        photo  Studying
29        photo  Studying

In [42]:
merged_data = pd.merge(merged_React_Content,ReactType, how='outer')

In [51]:
print(merged_data.head(1000))

                               Content ID Reaction Type             Datetime  \
0    97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust  2020-11-07 09:43:50
1    97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust  2021-01-06 19:13:01
2    97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust  2021-04-09 02:46:20
3    9f737e0a-3cdd-4d29-9d24-753f4e3be810       disgust  2021-03-28 21:15:26
4    230c4e4d-70c3-461d-b42c-ec09396efb3f       disgust  2020-08-04 05:40:33
..                                    ...           ...                  ...
995  02664d35-87cf-46a6-a80b-78fbc9ac8b2f       disgust  2020-07-03 02:57:32
996  e0cb0394-c5b2-447a-a9f4-88604a3ec283       disgust  2020-09-25 05:40:13
997  e0cb0394-c5b2-447a-a9f4-88604a3ec283       disgust  2020-08-21 06:38:37
998  e0cb0394-c5b2-447a-a9f4-88604a3ec283       disgust  2021-02-11 07:00:17
999  ec6c41c9-509e-43ff-83bb-0e5202b8e62a       disgust  2020-12-14 14:10:02

    Content Type         Category Sentiment  Score
0          photo         Studying  negative    0.0
1          photo         Studying  negative    0.0
2          photo         Studying  negative    0.0
3          photo   healthy eating  negative    0.0
4          photo   healthy eating  negative    0.0
..           ...              ...       ...    ...
995          GIF          science  negative    0.0
996        audio  public speaking  negative    0.0
997        audio  public speaking  negative    0.0
998        audio  public speaking  negative    0.0
999        audio        education  negative    0.0

[1000 rows x 7 columns]

In [52]:
merge_data_01= pd.merge(merged_React_Content,ReactType, on = 'Reaction Type', how='left')

In [53]:
print(merge_data_01)

                                 Content ID Reaction Type  \
0      97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust
1      97522e57-d9ab-4bd6-97bf-c24d952602d2       dislike
2      97522e57-d9ab-4bd6-97bf-c24d952602d2        scared
3      97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust
4      97522e57-d9ab-4bd6-97bf-c24d952602d2    interested
...                                     ...           ...
22567  daaae2e1-3090-4f64-9d43-b4e4ffbb5c8b           NaN
22568  4b10bec8-9754-4f5d-b129-a4b6fa030660           NaN
22569  0bfa4a8c-78be-4f6e-888f-490c47d355ed           NaN
22570  51199552-05ed-47e5-9c86-6177a406d928           NaN
22571  b94d8643-4dd8-4f15-a58e-0c9b6691d01a           NaN

                  Datetime Content Type        Category Sentiment  Score
0      2020-11-07 09:43:50        photo        Studying  negative    0.0
1      2021-06-17 12:22:51        photo        Studying  negative   10.0
2      2021-04-18 05:13:58        photo        Studying  negative   15.0
3      2021-01-06 19:13:01        photo        Studying  negative    0.0
4      2020-08-23 12:25:58        photo        Studying  positive   30.0
...                    ...          ...             ...       ...    ...
22567                  NaN          GIF       education       NaN    NaN
22568                  NaN        photo          tennis       NaN    NaN
22569                  NaN        photo            dogs       NaN    NaN
22570                  NaN        audio         fitness       NaN    NaN
22571                  NaN          GIF  healthy eating       NaN    NaN

[22572 rows x 7 columns]

In [54]:
aggregate_sum = merge_data_01.groupby('Category')['Score'].sum().reset_index()

In [55]:
print(aggregate_sum)

             Category    Score
0           "animals"   1519.0
1           "cooking"    644.0
2           "culture"   1980.0
3              "dogs"   1618.0
4              "food"     50.0
5   "public speaking"    894.0
6           "science"    506.0
7            "soccer"   2243.0
8          "studying"    486.0
9        "technology"    939.0
10           "tennis"      0.0
11         "veganism"   1040.0
12            Animals   3561.0
13            Culture   1450.0
14          Education   1218.0
15            Fitness   5017.0
16               Food   3142.0
17     Healthy Eating    272.0
18    Public Speaking   1231.0
19            Science   4324.0
20             Soccer   2516.0
21           Studying   1176.0
22         Technology    217.0
23             Travel   1010.0
24           Veganism    579.0
25            animals  63544.0
26            cooking  58530.0
27            culture  57233.0
28               dogs  46780.0
29          education  51541.0
30            fitness  45818.0
31               food  58406.0
32     healthy eating  62866.0
33    public speaking  43626.0
34            science  60575.0
35             soccer  48457.0
36           studying  47780.0
37         technology  61879.0
38             tennis  46185.0
39             travel  58348.0
40           veganism  44282.0

In [57]:
aggregate_sum['Category'] = aggregate_sum['Category'].str.strip().str.lower()

In [58]:
print(aggregate_sum)

             Category    Score
0           "animals"   1519.0
1           "cooking"    644.0
2           "culture"   1980.0
3              "dogs"   1618.0
4              "food"     50.0
5   "public speaking"    894.0
6           "science"    506.0
7            "soccer"   2243.0
8          "studying"    486.0
9        "technology"    939.0
10           "tennis"      0.0
11         "veganism"   1040.0
12            animals   3561.0
13            culture   1450.0
14          education   1218.0
15            fitness   5017.0
16               food   3142.0
17     healthy eating    272.0
18    public speaking   1231.0
19            science   4324.0
20             soccer   2516.0
21           studying   1176.0
22         technology    217.0
23             travel   1010.0
24           veganism    579.0
25            animals  63544.0
26            cooking  58530.0
27            culture  57233.0
28               dogs  46780.0
29          education  51541.0
30            fitness  45818.0
31               food  58406.0
32     healthy eating  62866.0
33    public speaking  43626.0
34            science  60575.0
35             soccer  48457.0
36           studying  47780.0
37         technology  61879.0
38             tennis  46185.0
39             travel  58348.0
40           veganism  44282.0

In [60]:
agg_sum = aggregate_sum.groupby('Category')['Score'].sum().reset_index()

In [61]:
print(agg_sum)

             Category    Score
0           "animals"   1519.0
1           "cooking"    644.0
2           "culture"   1980.0
3              "dogs"   1618.0
4              "food"     50.0
5   "public speaking"    894.0
6           "science"    506.0
7            "soccer"   2243.0
8          "studying"    486.0
9        "technology"    939.0
10           "tennis"      0.0
11         "veganism"   1040.0
12            animals  67105.0
13            cooking  58530.0
14            culture  58683.0
15               dogs  46780.0
16          education  52759.0
17            fitness  50835.0
18               food  61548.0
19     healthy eating  63138.0
20    public speaking  44857.0
21            science  64899.0
22             soccer  50973.0
23           studying  48956.0
24         technology  62096.0
25             tennis  46185.0
26             travel  59358.0
27           veganism  44861.0

In [62]:
agg_sum['Category'] = agg_sum['Category'].str.replace('"', '').str.strip().str.lower()

In [63]:
print(agg_sum)

           Category    Score
0           animals   1519.0
1           cooking    644.0
2           culture   1980.0
3              dogs   1618.0
4              food     50.0
5   public speaking    894.0
6           science    506.0
7            soccer   2243.0
8          studying    486.0
9        technology    939.0
10           tennis      0.0
11         veganism   1040.0
12          animals  67105.0
13          cooking  58530.0
14          culture  58683.0
15             dogs  46780.0
16        education  52759.0
17          fitness  50835.0
18             food  61548.0
19   healthy eating  63138.0
20  public speaking  44857.0
21          science  64899.0
22           soccer  50973.0
23         studying  48956.0
24       technology  62096.0
25           tennis  46185.0
26           travel  59358.0
27         veganism  44861.0

In [64]:
final_df = agg_sum.groupby('Category')['Score'].sum().reset_index()

In [65]:
print(final_df)

           Category    Score
0           animals  68624.0
1           cooking  59174.0
2           culture  60663.0
3              dogs  48398.0
4         education  52759.0
5           fitness  50835.0
6              food  61598.0
7    healthy eating  63138.0
8   public speaking  45751.0
9           science  65405.0
10           soccer  53216.0
11         studying  49442.0
12       technology  63035.0
13           tennis  46185.0
14           travel  59358.0
15         veganism  45901.0

In [68]:
result_df = final_df.groupby('Category')['Score'].sum().reset_index()

In [69]:
print(result_df)

           Category    Score
0           animals  68624.0
1           cooking  59174.0
2           culture  60663.0
3              dogs  48398.0
4         education  52759.0
5           fitness  50835.0
6              food  61598.0
7    healthy eating  63138.0
8   public speaking  45751.0
9           science  65405.0
10           soccer  53216.0
11         studying  49442.0
12       technology  63035.0
13           tennis  46185.0
14           travel  59358.0
15         veganism  45901.0

In [72]:
top_5_categories = result_df.sort_values(by='Score', ascending=False).reset_index()

In [73]:
print(top_5_categories)

    index         Category    Score
0       0          animals  68624.0
1       9          science  65405.0
2       7   healthy eating  63138.0
3      12       technology  63035.0
4       6             food  61598.0
5       2          culture  60663.0
6      14           travel  59358.0
7       1          cooking  59174.0
8      10           soccer  53216.0
9       4        education  52759.0
10      5          fitness  50835.0
11     11         studying  49442.0
12      3             dogs  48398.0
13     13           tennis  46185.0
14     15         veganism  45901.0
15      8  public speaking  45751.0